body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    }
    .head{
        Width: 1321px;
        Height: 646px;
        background-color: #161616;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 30px;
         margin-left: 100px;
    }
    .head-detail{
        width: 531px;
        height: 424px;
        padding-left: 100px;
        padding-top: 100px;
    }
    .head-detail h1{
        color: white;
        font-size: 70px;
        line-height: 80px;
        font-weight: 700;
    }
    .head-detail p{
        color: white;
        font-size: 20px;
        line-height: 26px;
    }
    .head-pic img{
        width: 581px;
        height: 600px;
        padding-top: 46px;
        padding-left: 40px;
    }
    .head-detail button{
        width: 187px;
        height: 56px;
        border: none;
        background: #DD0000;
        border-radius: 5px;
        color: white;
        font-weight: 400;
        font-size: 20px;
    }
    .head-detail i{
        margin-left: 5px;
    }
    
    /* section-2 */
    .option{
        width: 270px;
        height: 270px;
        background: #161616;
        border-radius: 10px;
        display: grid;
        grid-template-rows: repeat(1fr);
        padding-left: 35px;
        padding-top: 35px;
    }
    .option button{
        width: 240px;
        height: 60px;
        border-radius: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
    }
    .btn{
        text-decoration: none;
        color: black;
    }
    .btnn{
        text-decoration: none;
        color: white;
    }
    .red{
        background-color: #DD0000;
        border: none;
        
    }
    .update{
        display: flex;
        /* display: grid;
        grid-template-columns: 1fr 3fr; */
        gap: 20px;
        margin-left: 90px;
        margin-top: 80px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 240px;
        gap: 20px;
    }
    .time{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 20px;
        margin-left: 15px;
    }
    .hour{
        font-size: 16px;
        color: grey;
    }
    .icon img{
        width: 24px;
        height: 24px;
    }
    .icons{
        padding-left: 60px;
    }
    .blog{
        margin-top: 30px;
        border: 1px solid rgb(228, 227, 227);
        border-radius: 10px;
        width: 312px;
        height: 362px;
    }
    .blog h3{
        margin-left: 15px;
    }
    .blog button{
        width: 100px;
        height: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #161616;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 15px;
    }
    .view{
        width: 130px;
            height: 52px;
            background-color: #DD0000;
            color: white;
            font-size: 18px;
            border-radius: 10px;
            margin-left: 700px;
            margin-top: 40px;
            border: none;
            visibility: hidden;
    }

    /*  */
    .btnn2{
        text-decoration: none;
        color: white;
        margin: 20px;
        padding: 10px;
        font-weight: 700;
       

    }
    .red2{
        background-color: #DD0000;
        border: none;
        border-radius: 5px solid white;
        margin: 20px;
        padding: 20px;
        align-items: center;
        
        
    }
    /* Footer */
    footer{
        height: 345px;
        background: #161616;
        margin-top: 200px;
        border-left: 40px;
    }
    footer h1{
        color: #B9B9B9;
        font-weight: 600;
        font-size: 40px;
        padding-top: 130px;
        text-align: center;
        padding-bottom: 30px;
    }
    .footer hr{
        width: 660px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .info{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        padding-top: 40px;
    }
    .now{
        display: flex;
        justify-content: space-evenly;
    }
    
    .infos{
        color: #B9B9B9;
        width: 140px;
        margin-left: -80px;
    }
    /* 2nd  */

    /* responsive */
/* ipad Air */
@media only screen and (min-width: 720px) and (max-width:834px) {
    /* section-1 */
    .head{
       width: 734px;
       height: 398px;
       background-color: #161616;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       border-radius: 30px;
       margin-left: 50px;
    }
.head-detail{
    width: 316px;
    height: 276px;
    padding-left: 40px;
    padding-top: 30px;
}
.head-detail h1{
    color: white;
    font-size: 40px;
    line-height: 80px;
    font-weight: 700;
}
.head-detail p{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}
.head-pic img{
    width: 323px;
    height: 340px;
    padding-top: 58px;
    padding-left: 25px;
}
.head-detail button{
    width: 161px;
    height: 48px;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.head-detail i{
    margin-left: 5px;
}


/* section-2 */
.update{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.option{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: none;
    margin-bottom: 300px;
}
.option button{
    width: 220px;
    height: 64px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    margin-bottom: 300px;
    margin-right: 20px;
}
.btn{
    text-decoration: none;
    color: black;
}
.btnn{
    text-decoration: none;
    color: white;
}
.red{
    background-color: #DD0000;
    border: none;
}

.update{
    gap: 20px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 150px;
    margin-left: -330px;
}
.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 15px;
}
.hour{
    font-size: 16px;
    color: grey;
}
.icon img{
    width: 24px;
    height: 24px;
}
.icons{
    padding-left: 60px;
}
.blog{
    margin-top: 30px;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 10px;
    width: 357px;
    height: 414px;
}
.blg-img{
    width: 357px;
}
.blog h3{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.blog button{
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 15px;
}
.view{
    width: 131px;
    height: 47px;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    visibility: visible;
    padding: 12px 29px;
    gap: 10px;
    margin-left: 400px;
}

/* footer */
footer{
    height: 345px;
    background: #161616;
    margin-top: 200px;
    border-left: 40px;
}
footer h1{
    color: #B9B9B9;
    font-weight: 600;
    font-size: 40px;
    padding-top: 130px;
    text-align: center;
    padding-bottom: 30px;
}
.footer hr{
    width: 660px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.info{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    padding-top: 40px;
}
.now{
    display: flex;
    margin-left: -60px;
}
.next{
    display: flex;
    padding-right: 50px;
    margin-left: 200px;
}
.infos{
    color: #B9B9B9;
    width: 140px;
    margin-left: -80px;
}
}

/* mobile */
@media screen and (min-width:300px) and (max-width:719px){
    /* section-1 */
    .head{
       width: 334px;
       height: 472px;
       background-color: #161616;
       display: grid;
       grid-template-rows: 1fr 1fr;
       border-radius: 30px;
    }
.head-detail{
    width: 258px;
    height: 118px;
    padding-left: 40px;
    padding-top: 20px;
    grid-row: 1/2;

}
.head-detail h1{
    color: white;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}
.head-detail p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.head-pic{
    grid-row: 2/3;
    margin-bottom: 0px;
}
.head-pic img{
    width: 230px;
    height: 240px;
}
.head-detail button{
    width: 161px;
    height: 40px;
    border: none;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-left: 43px;
}
.head-detail i{
    margin-left: 5px;
}

/* section-2 */
body{
    height: 900px;
}
.update{
    display: grid;
    grid-template-rows: 1fr repeat(6, 1fr);
    gap: 30px;
}
.option{
    display: grid;
    grid-template-rows: repeat(3,80px);
    background: none;
    margin-left: 30px;
}
.option button{
    width: 210px;
    height: 48px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #161616;
    margin-bottom: 300px;
    margin-right: 20px;
}
.btn{
    text-decoration: none;
    color: black;
}
#btn-1{
    grid-row: 1/2;
}
#btn-2{
    grid-row: 2/3;
}
#btn-3{
    grid-row: 3/4;
}
.btnn{
    text-decoration: none;
    color: white;
}
.red{
    background-color: #DD0000;
    border: none;
}
#blog-1{
    grid-row: 1/2;
}
#blog-2{
    grid-row: 2/3;
}
#blog-3{
    grid-row: 3/4;
}
#blog-4{
    grid-row: 4/5;
}
#blog-5{
    grid-row: 5/6;
}
#blog-6{
    grid-row: 6/7;
}
.blogs{
    display: grid;
    grid-template-rows: repeat(6, 435px);
    gap: 20px;
     margin-top: -1230px;
}
.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 15px;
}
.hour{
    font-size: 16px;
    color: grey;
}
.icon img{
    width: 24px;
    height: 24px;
}
.icons{
    padding-left: 60px;
}
.blog{
    margin-top: 30px;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 10px;
    width: 357px;
    height: 414px;
}
.blg-img{
    width: 357px;
}
.blog h3{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.blog button{
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 15px;
}
.view{
    width: 131px;
    height: 47px;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    visibility: visible;
    padding: 12px 29px;
    gap: 10px;
    margin-top: -1000px;
    margin-left: -900px;
}

.footer{
   width: 412px;
    height: 612px;
    background: #161616;
    border-left: 40px;
}
footer h1{
    color: #B9B9B9;
    font-weight: 600;
    font-size: 22px;
    padding-top: 130px;
    text-align: center;
    padding-bottom: 30px;
}
.footer hr{
    width: 335px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.info{
    display: grid;
    grid-template-rows: 200px 100px;
    margin-left: -50px;
}
.now{
    display: grid;
    grid-template-rows: 50px;
}
.next{
    display: grid;
    grid-template-rows: 50px;
    padding-right: 50px;
    margin-left: 100px;
}
.infos{
    color: #B9B9B9;
    width: 140px;
   
}

}


/* 2nd website */
.scedule{
    display: flex;
    gap: 20px;
    padding-top: 100px;
    margin-left: 100px;
}
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.match{
    width: 312px;
    height: 242px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
}
.flag{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 40px;
}
.red-2{
    color: white;
    background-color: #DD0000;
}
.red-1{
    color: black;
}
.vs{
    padding-top: 15px;
    font-weight: 600;
}
.match h3,p{
    padding-left: 60px;
}